:root {
  --primary: #fff;
  --bg-color: #fae1dd;
  --bg-envelope-color: #f08080;
  --envelope-tab: #f4978e;
  --envelope-cover: #fda996;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgba(240, 240, 240, 1);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 130vh;
  display: grid;
  place-items: center;
  animation: up 2.5s linear infinite;
}
.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
}
.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}
.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 133px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}
.envelope > .letter {
  position: absolute;
  right: 7.25%;
  bottom: 0;
  width: 77%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
  border: 2.5px dashed #e47a7a;
  border-radius: 3px;
}
.flap > .envelope-wrapper > .envelope:hover .letter {
  bottom: 230px;
  transform: scale(1.125);
  transition-delay: 0.9s;
}
.envelope > .letter > .text {
  font-family: "Comic Sans MS"; /*"Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif; */
  color: var(--txt-color);
  text-align: center;
  font-size: 10px;
  margin-top: -25px;
}
.heart {
  position: absolute;
  top: 51%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}
.heart:before {
  top: -7.5px;
}
.heart:after {
  right: 7.5px;
}
.flap > .envelope-wrapper > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
/* .flap > .envelope > .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
} */
.flap > .envelope-wrapper > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}
@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.container::before {
  content: "";
  position: absolute;
  width: 330px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  top: 70%;
  animation: scale 2.5s linear infinite;
}

@keyframes scale {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
}
.flap,
.flap::before {
  animation-play-state: paused !important;
}
